{% load static from staticfiles %}		<!-- подключение статических файлов-->

{% for iter in purchase reversed %}
        <!--purchase block-->   
        <hr />     
        <div class="row">
          <div class="col-xs-2 col-mb-2">
          	<img src="{% static 'webapp/img/avatar.jpg' %}" alt="..." class="img-thumbnail no-border">
          	<p class="text-center">{% if iter.statr%}<span class="label label-primary">paid</span>{% else %}<span class="label label-danger">not paid</span>{% endif %}</p>
          </div>
          <div class="col-xs-10 col-mb-10 purchase">

            <div class="row">
              <div class="col-xs-9 col-mb-9"><span class="purchase-name">{{iter.name}}</span></div>
              <div class="cost"><span class="label label-success">{{iter.cost}}</span></div>
            </div>

            <div class="row">
              <div class="col-xs-10"><span class="user-name">{{iter.user.get_full_name}}</span> <span class="date">{{iter.date|date:"d M в h:m"}}</span></div>
            </div>

            <div class="row inform">
              <div class="col-sm-8">{{iter.about}}</div>
            </div>

            <div class="row">
              <div class="col-sm-8"><a class="showMembers" data-id="{{iter.pk}}" data-toggle="modal" data-target="#myModal" href="#">show members</a>, {{iter.category}}</div>
            </div>

            <div class="row">
              <div class="col-sm-8"><span class="depart">{{iter.depart}}</span></div>
            </div>
          </div>
        </div>
		{% endfor %}

		<!-- Модальное окно списка участников покупки -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Участники покупки:</h4>
		      </div>
		      <div id="block-partner" class="modal-body">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- End Модальное окно списка участников покупки-->
