body { margin-top: 50px; font-family: tahoma, arial, verdana, sans-serif, Lucida Sans; }

hr {margin-top: 0px; margin-bottom: 5px;}

textarea {resize: none}

.container { max-width: 730px; }

.cont { min-height: 600px; border: 1px solid transparent; border-color:#ddd;  padding-top: 10px; }

.no-border{border: 0;}

.purchase-name{font-weight:bold; line-height:150%; padding-left: 10px;}

.no-padding{padding: 0px;}

.inform{padding-top: 10px; padding-bottom: 10px;}

.cost{float: right; margin-right: 20px; font-size: 120%;}

.purchase{padding-left: 0px;}

.date{font-size: 90%; color: #B6AF9A;}

.depart{color: #999; font-size: 11px;}

.block-add{background-color: #ddd;}

.block-info{margin-bottom: 10px;}

.block-auth{margin-top: 30%;}

.ui-autocomplete {overflow: auto; overflow-x: hidden !important; max-height: 300px;}

.remove-party{ cursor:pointer;}

.cost .glyphicon{top:5px !important; right: 4px; cursor:pointer;}

#statistics-tab{padding: 20px 15px 0 10px;}

#statistics-block{padding: 20px 15px 0 10px;}

#button-show{margin-left: 15px;}

.my-form-group{margin-bottom: 0px;}

.period-purchase{padding-left: 3px; font-size: 85%;}

#list-user-member{margin-top: -15px;}

.detail-stat{float: right; margin-right: 20px;}

.linechart-text{margin-left: 20px;}

.step-detail{margin-left: 10px;}

.show-graph{cursor:pointer;}