<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {{title}} {% endblock %}</title>

    {% load staticfiles %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">kormushka</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/departs/">Группы</a></li>
            <li><a href="/statistics/">Статистика</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="" href={% if user.username %} "/logout/">Выйти ({{ user.username }}) {% else %}"/login/">Войти {% endif %} </a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container cont"> 

      {% block login %}{% endblock %}
      {% block layout %}{% endblock %}

    </div>
  </body>
 
  <script src="{% static 'vendor/jquery-1.11.2.js' %}"></script>
  <script src="{% static 'vendor/underscore.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
  <script src="{% static 'vendor/jquery-ui/jquery-ui.js' %}"></script>
  <script src="{% static 'vendor/Chart.js' %}"></script>
  <script src="{% static 'webapp/js/app.js' %}"></script>
  <script src="{% static 'webapp/js/common/validator.js' %}"></script>
  <script src="{% static 'webapp/js/profile/add-purchase-form.js' %}"></script>
  <script src="{% static 'webapp/js/profile/list-purchases.js' %}"></script>
  <script src="{% static 'webapp/js/departs/view.js' %}"></script>
  <script src="{% static 'vendor/moment.min.js' %}"></script>
  <script src="{% static 'vendor/locales.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'webapp/js/statistics/statistics.js' %}"></script>
  <script src="{% static 'webapp/js/statistics/charts/test-line-chart.js' %}"></script>
  <script src="{% static 'webapp/js/statistics/charts/test-pie-chart.js' %}"></script>

  <script type="text/javascript">
    var csrf_token = '{{ csrf_token }}';
    App.currentUserId = '{{ user.pk }}';
    App.currentUserFullName = '{{ user.get_full_name }}';
</script>
</html>