<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {{title}} {% endblock %}</title>

    {% load staticfiles %}
    <link href="{% static 'webapp/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">kormushka</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
            {% if user.username %}
              <li><a href="/logout/">Выйти {{ user.username }}</a></li>
            {% else %}
              <li><a href="/login/">Войти</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container"> 
      {% block login %}{% endblock %}
      {% block userinfo %}{% endblock %}
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{% static 'webapp/js/bootstrap.js' %}"></script>
  <script src="{% static 'webapp/js/app.js' %}"></script>
</html>