{% extends "index.html" %}	<!-- наследование от главного шаблона-->

{% load staticfiles %}		<!-- подключение статических файлов-->

{% block userinfo %}		<!-- блок информации о пользователе-->
	<div class="row block-info">
	  <div class="col-xs-4">
	    <img src="{%if user.image %}{{user.image}}{% else %}{% static 'webapp/img/avatar.jpg' %}{% endif %}" class="img-thumbnail no-border" alt="Изображение">
	  </div>
	  <div class="col-sm-6 col-md-4">  
	    <h3>{{user.login}}</h3>
	    <p>{{user.get_full_name}}</p>
	  </div>
	</div>
{% endblock %}				<!-- End блок информации о пользователе-->

{% block form_add %}		<!-- Форма добавления покупки-->

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	    <div class="panel-heading block-add">
	      <h4 class="panel-title text-center">
	        <br />
	      </h4>   
	    </div>
    </a>
    <div id="collapseOne" class="panel-collapse collapse">
      	<div class="panel-body">
        	<form class="form-horizontal" method="post" action="/addpurchase/">{% csrf_token %}
	            <fieldset>

		            <!-- Название покупки-->
		            <div class="form-group">
		                <label class="col-md-3 control-label" for="name">Название:</label>  
		                <div class="col-md-6">
		            	    <input id="name" name="name" type="text" class="form-control input-md">  
		                </div>
		            </div>

					<!-- Тип покупки -->
					<div class="form-group">
					 	<label class="col-md-3 control-label" for="category">Тип покупки:</label>
					  	<div class="col-md-6">
					   		<select id="category" name="category" class="form-control">
					   			{% for iter in category %}
					   		   		<option value="{{iter.pk}}">{{iter.name}}</option>
					   			{% endfor %}
					    	</select>
					  	</div>
					</div>

		            <!-- Сумма покупки-->
		            <div class="form-group">
		                <label class="col-md-3 control-label" for="cost">Сумма:</label>  
		                <div class="col-md-6">
		                	<input id="cost" name="cost" type="text" class="form-control input-md">
		                </div>
		            </div>

					<!-- Select Basic -->
					<div class="form-group">
					    <label class="col-md-3 control-label" for="user-depart">Мой отдел:</label>
					    <div class="col-md-6">
					    	<select id="depart" name="depart" class="form-control">
					    		{% for iter in depart %}
					      			<option value="{{iter.depart.pk}}">{{iter.depart}}</option>
					      		{% endfor %}
					    	</select>
					  	</div>
					</div>

		            <!-- Описание покупки -->
		            <div class="form-group">
		                <label class="col-md-3 control-label" for="about">Описание:</label>
		                <div class="col-md-6">                     
		                  	<textarea class="form-control" id="about" name="about"></textarea>
		                </div>
		            </div>
		            <div class="col-md-6 col-md-offset-4">
						{% if login_error %}
					  		<label class="error">{{ login_error }}</label>
						{% endif %}
					</div>

					<!-- Участник покупки-->
					<!--<div class="form-group ui-widget">
					  	<label class="col-md-3 control-label" for="user-member">Участник</label>  
					  	<div class="col-md-6">
					  		<input id="user-member" name="user-member" type="text" placeholder="" class="form-control input-md">
					  	</div>
					</div>-->
		            <!-- Кнопка Купить -->
		            <div class="form-group">
		                <label class="col-md-3 control-label" for="buy"></label>
		                <div class="col-md-3">
		                 	 <button id="buy" name="buy" class="btn btn-primary">Купить</button>
		                </div>
		            </div>
		            
		        </fieldset>
            </form>
     	</div>
    </div>
  </div>
</div>

{% endblock %}					<!-- End Форма добавления покупки-->

{% block list-purchase %}		<!-- Блок покупки-->
       {% for iter in purchase reversed %}
        <!--purchase block-->   
        <hr />     
        <div class="row">
          <div class="col-xs-2 col-mb-2">
          	<img src="{% static 'webapp/img/avatar.jpg' %}" alt="..." class="img-thumbnail no-border">
          	<p class="text-center">{% if iter.statr%}<span class="label label-primary">paid</span>{% else %}<span class="label label-danger">not paid</span>{% endif %}</p>
          </div>
          <div class="col-xs-10 col-mb-10 purchase">

            <div class="row">
              <div class="col-xs-9 col-mb-9"><span class="purchase-name">{{iter.name}}</span></div>
              <div class="cost"><span class="label label-success">{{iter.cost}}</span></div>
            </div>

            <div class="row">
              <div class="col-xs-10"><span class="user-name">{{iter.user.get_full_name}}</span> <span class="date">{{iter.date|date:"d M в h:m"}}</span></div>
            </div>

            <div class="row inform">
              <div class="col-sm-8">{{iter.about}}</div>
            </div>

            <div class="row">
              <div class="col-sm-8"><a data-toggle="modal" data-target="#myModal" href="#">show members(24)</a>, {{iter.category}}</div>
            </div>

            <div class="row">
              <div class="col-sm-8"><span class="depart">{{iter.depart}}</span></div>
            </div>
          </div>
        </div>
		{% endfor %}

		<!-- Модальное окно списка участников покупки -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Участники покупки:</h4>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- End Модальное окно списка участников покупки-->
{% endblock %} <!-- End Блок покупки-->