<table class="table table-striped">
	<thead>
		<tr>
			<th>Категория</th>
			<th>Сумма</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Затраты пользователя, которые оплачены</td>
			<td>{{UserСostsPaid}}</td>
		</tr>
		<tr>
			<td>Затраты пользователя, которые не оплачены</td>
			<td>{{UserСostsNotPaid}}</td>
		</tr>
		<tr>
			<td>Затраты пользователя за весь период</td>
			<td>{{UserСostsAll}}</td>
		</tr>
		<tr>
			<td>Затраты на пользователя</td>
			<td>{{ForUserAll}}</td>
		</tr>
			<tr>
			<td>Затраты на отдел</td>
			<td>{{ForDepartAll}}</td>
		</tr>
		<tr>
			<td>Сумма оплаченных покупок</td>
			<td>{{СostsPaid}}</td>
		</tr>
		<tr>
			<td>Сумма неоплаченные покупок</td>
			<td>{{СostsNotPaid}}</td>
		</tr>
		<tr>
			<td>Сумма всех покупок</td>
			<td>{{СostsAll}}</td>
		</tr>
	</tbody>
</table>