<!-- Nav tabs -->
<ul class="nav nav-tabs" id="statistics-tab">
  <li class="active"><a href="#personal-statistics">Личная</a></li>
  <li><a href="#users-statistics">Пользователи</a></li>
  <li><a href="#departs-statistics">Отделы</a></li>
  <li><a href="#organization-statistics">Организация</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="statistics-block">
  <div class="tab-pane fade in active" id="personal-statistics">
	  <table class="table table-striped">
	  	<thead>
			<tr>
				<th>Категория</th>
				<th>Сумма</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Оплаченные затраты</td>
				<td>{{UserСostsPaid}}</td>
			</tr>
			<tr>
				<td>Не оплаченные затраты</td>
				<td>{{UserСostsNotPaid}}</td>
			</tr>
			<tr>
				<td>Затраты за весь период</td>
				<td>{{UserСostsAll}}</td>
			</tr>
			<tr>
				<td>Затраты на пользователя</td>
				<td>{{ForUserAll}}</td>
			</tr>
		</tbody>
	</table>
  </div><!--end personal-statistics-->

  <div class="tab-pane fade" id="users-statistics">
  		  <table class="table table-striped">
	  	<thead>
			<tr>
				<th>Категория</th>
				<th>Сумма</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Оплаченные затраты</td>
				<td>{{UserСostsPaid}}</td>
			</tr>
			<tr>
				<td>Не оплаченные затраты</td>
				<td>{{UserСostsNotPaid}}</td>
			</tr>
			<tr>
				<td>Затраты за весь период</td>
				<td>{{UserСostsAll}}</td>
			</tr>
			<tr>
				<td>Затраты на пользователя</td>
				<td>{{ForUserAll}}</td>
			</tr>
		</tbody>
	</table>
  </div><!--end users-statistics-->

  <div class="tab-pane fade" id="departs-statistics">
  	<table class="table table-striped">
	  	<thead>
			<tr>
				<th>Категория</th>
				<th>Сумма</th>
			</tr>
		</thead>
		<tbody>
  			<tr>
				<td>Затраты на отдел</td>
				<td>{{ForDepartAll}}</td>
			</tr>
		</tbody>
	</table>
  </div><!--end departs-statistics-->

  <div class="tab-pane fade" id="organization-statistics">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Категория</th>
				<th>Сумма</th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td>Сумма оплаченных покупок</td>
				<td>{{СostsPaid}}</td>
			</tr>
			<tr>
				<td>Сумма неоплаченные покупок</td>
				<td>{{СostsNotPaid}}</td>
			</tr>
			<tr>
				<td>Сумма всех покупок</td>
				<td>{{СostsAll}}</td>
			</tr>
		</tbody>
	</table>
  </div><!--end organization-statistics-->
</div>